.themes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.theme {
  width: 300px;
  border: 1px solid black;
  min-height: 200px;
  margin: 10px 0;
  padding: 4px;
}

.theme-image {
  width: 100%;
  min-height: 165px;
  text-align: center;
}

.theme-image img {
  width: 100%;
}

.theme-content {
  margin-top: 2px;
}

.action-download {
  margin-right: 5px;
}

.theme-links {
  margin-top: 2px;
}