.themes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.theme {
  min-height: 200px;
  margin-top: 30px;
}
.theme .thumbnail {
  margin-bottom: 0;
}
.theme-col {
  float:none;
}
.theme-image {
  min-height: 165px;
}
.theme-content {
  background: #f9f9f9;
  padding: 10px 5px;
  border: solid 1px #ddd;
  margin: -2px 0 0 0;
  border-radius: 0 0 2px 2px;
  font-size:15px;
}
.theme-content .big {
  font-size: 25px;
}
.theme-name,
.theme-name:hover {
  color: rgba(0,0,0,0.5);
  text-decoration: none;
}
.theme:hover .theme-name {
  color: rgba(0,0,0,1);
}
.big small {
  font-size: 30%;
  vertical-align: middle;
}
.theme-content p {
  margin-bottom: 0;
}
.theme-content .btn-block {
  margin: 20px 0 15px;
}

/*template search bar*/
.inner-addon { 
    position: relative;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon .glyphicon {
  left:  0px;
}
.right-addon .glyphicon {
  right: 0px;
}
.left-addon input {
  padding-left:  30px;
}
.right-addon input {
  padding-right: 30px;
}
