<% if preview_mode? %>
  <div class="alert alert-preview" role="alert">
    <h4 class="text-center"><%= Spree.t('warnings.preview_mode_message') %>
      <%= link_to 'X', admin_theme_preview_path(params[:theme]), method: :delete, class: 'pull-right' %>
    </h4>
  </div>
<% end %>
